includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - tests
        - config
        - lang
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
